#BannerTitle {
  color: var(--neutral-01, #fff);
  text-align: center;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}

#BannerDesc {
  width: 100%;
  color: var(--neutral-01, #fff);
  text-align: center;

  /* Body/14/Light */
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
}


@media only screen and (min-width: 768px) {
  #BannerTitle {
    color: var(--neutral-01, #fff);
    text-align: center;
    font-family: Helvetica;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 54px */
  }

  #BannerDesc {
    width: 468px;
    color: var(--neutral-01, #fff);
    text-align: center;

    /* Body/14/Light */
    font-family: Helvetica;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 142.857% */
  }
}
