html {
  width: 100%;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  width: 100%;
  margin: 0;
}

.footerText {
  width: 268px;
  color: #000;

  /* Body/14/Light */
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 142.857% */
}

.footerAnchor {
  color: #000;

  /* Body/14/Regular */
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-decoration: none;
}
#list-container {
  margin-top: 360px;
}

@media only screen and (min-width: 768px) {
  label {
    font-size: smaller;
    font-family: Helvetica;
    font-weight: 400;
  }

  #list-container {
    margin-top: 100px;
  }
}
